.basket-bar {
  display: flex;
  align-items: center;
  width: 100dvw;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: #0000003d 0px 3px 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);

  .progression-bar {
    margin: 0 auto;
    display: flex;
    gap: 125px;
    font-size: 14px;
    align-items: center;

    .progression-bar-circle {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 1px solid rgb(139, 139, 139);
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .filled-bar {
      background-color: gray;
      color: white;
      font-size: 20px;
    }

    .single-circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }

  #homepage-link {
    text-decoration: none;

    button {
      background-color: green;
      border: none;
      border-radius: 16px;
      color: white;
      width: 150px;
      height: 40px;
    }

    button:hover {
      background-color: rgb(16, 173, 16);
    }
  }
}

.basket-form {
  width: 600px;
}

.basket-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.order-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;

  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.4);

  .form-data-input {
    width: 100%;
  }

  input {
    height: 40px;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 7px;
  }

  p {
    font-size: 0.8rem;
    color: red;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.order-address-code {
  width: 100%;
  display: flex;
  gap: 10px;

  #addressCode {
    width: 30%;
  }

  #asoAddress {
    width: 70%;
  }
}

.delivery-method-options,
.payment-method-option {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;

  label {
    padding: 0 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }

  img {
    width: 60px;
    height: 40px;
    border: 1px solid black;
    margin: 0 10px 0 10px;
  }
}

.basket-products {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 50px;
  padding: 10px 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;

  img {
    max-width: 100px;
    max-height: 80px;
  }

  #summary-button {
    align-self: flex-end;
    margin-bottom: 50px;
    background-color: green;
    border: none;
    border-radius: 16px;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
  }

  strong {
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 1.2em;
    align-self: flex-end;
  }

  #summary-button:hover {
    background-color: hsl(120, 72%, 42%);
  }

  li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 8px;

    button {
      width: 30px;
      height: 30px;
      margin-left: auto;
      background-color: red;
      border: none;
      color: white;
      cursor: pointer;
    }

    button:hover {
      background-color: rgb(125, 0, 0);
    }
  }

  .list-element-box {
    display: flex;
    flex-direction: column;
  }
}

.inserted-data-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.5);
}

.inserted-data-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  box-shadow: #0000003d 0px 3px 8px;
  background-color: rgba(246, 240, 240, 0.7);
  padding: 0 20px;

  h4 {
    margin: 0 auto 10px auto;
    font-size: 20px;
    color: red;
  }

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 2px 5px;

    p {
      font-size: 12px;
    }

    span {
      font-weight: 800;
      font-size: 16px;
    }
  }
}

.confirmation-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 50px;

  button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(32, 234, 32);
    }
  }

  .edit-data {
    background-color: rgb(216, 0, 0);

    &:hover {
      background-color: rgb(255, 28, 28);
    }
  }
}

.warning-sign {
  margin: 0 auto 10px auto;
  font-size: 30px;
  color: red;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .basket-form {
    width: 500px;
  }

  .order-form {
    margin-bottom: 50px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;

    .form-data-input {
      width: 100%;
    }

    input {
      height: 35px;
      padding: 5px 10px;
      margin: 5px 0;
    }

    p {
      font-size: 0.8rem;
      color: red;
    }
  }

  .order-address-code {
    width: 100%;
    gap: 10px;

    #addressCode {
      width: 30%;
    }

    #asoAddress {
      width: 70%;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .basket-products {
    width: 500px;
  }

  .basket-form {
    width: 450px;
  }

  .order-form {
    margin-bottom: 50px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;

    .form-data-input {
      width: 90%;
    }

    input {
      height: 35px;
      padding: 5px 10px;
      margin: 5px 0;
      font-size: 12px;
    }

    p {
      font-size: 0.8rem;
      color: red;
    }
  }

  .order-address-code {
    width: 90%;
    gap: 10px;

    #addressCode {
      width: 30%;
    }

    #asoAddress {
      width: 70%;
    }
  }
  .delivery-method-options,
  .payment-method-option {
    width: 100%;
    margin-top: 20px;

    label {
      padding: 0 10px;
      margin: 10px 0;
      font-size: 14px;
    }

    img {
      width: 40px;
      height: 30px;
    }
  }

  .basket-bar {
    width: 100dvw;
    padding: 20px;

    .progression-bar {
      gap: 125px;
      font-size: 14px;

      .progression-bar-circle {
        width: 35px;
        height: 35px;
        font-size: 16px;
      }

      .filled-bar {
        font-size: 15px;
      }
    }

    #homepage-link button {
      font-size: 12px;
      width: 120px;
      height: 30px;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .basket-products {
    width: 400px;

    img {
      max-width: 80px;
      max-height: 70px;
    }

    #summary-button {
      margin-bottom: 50px;
      width: 130px;
      height: 50px;
      font-size: 13px;
    }

    strong {
      margin-top: 100px;
      margin-bottom: 15px;
      padding: 0 20px;
      font-size: 1rem;
    }

    li {
      gap: 5px;
      margin: 10px 0;

      button {
        width: 25px;
        height: 25px;
        font-size: 12px;
      }
    }
  }

  .basket-form {
    width: 350px;
  }

  .order-form {
    margin-bottom: 50px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;

    .form-data-input {
      width: 90%;
    }

    input {
      height: 35px;
      padding: 5px 10px;
      margin: 5px 0;
      font-size: 12px;
    }

    p {
      font-size: 0.8rem;
      color: red;
    }
  }

  .order-address-code {
    width: 90%;
    gap: 10px;

    #addressCode {
      width: 30%;
    }

    #asoAddress {
      width: 70%;
    }
  }
  .delivery-method-options,
  .payment-method-option {
    width: 100%;
    margin-top: 20px;

    label {
      padding: 0 10px;
      margin: 10px 0;
      font-size: 14px;
    }

    img {
      width: 40px;
      height: 30px;
    }
  }

  .basket-bar {
    width: 100dvw;
    padding: 20px;

    .progression-bar {
      gap: 80px;
      font-size: 14px;

      .progression-bar-circle {
        width: 30px;
        height: 30px;
        font-size: 16px;
      }

      .filled-bar {
        font-size: 15px;
      }
    }

    #homepage-link button {
      font-size: 12px;
      width: 120px;
      height: 30px;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
    .basket-content {
      flex-direction: column;
    }
  
  .basket-products {
    width: 100vw;

    img {
      max-width: 80px;
      max-height: 70px;
    }

    #summary-button {
      margin-bottom: 50px;
      width: 130px;
      height: 50px;
      font-size: 13px;
    }

    strong {
      margin-top: 100px;
      margin-bottom: 15px;
      padding: 0 20px;
      font-size: 1rem;
    }

    li {
      gap: 5px;
      margin: 10px 0;

      button {
        width: 25px;
        height: 25px;
        font-size: 12px;
      }
    }
  }

  .basket-form {
    width: 100vw;
  }

  .order-form {
    margin-bottom: 50px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;

    .form-data-input {
      width: 90%;
    }

    input {
      height: 35px;
      padding: 5px 10px;
      margin: 5px 0;
      font-size: 12px;
    }

    p {
      font-size: 0.8rem;
      color: red;
    }
  }

  .order-address-code {
    width: 90%;
    gap: 10px;

    #addressCode {
      width: 30%;
    }

    #asoAddress {
      width: 70%;
    }
  }
  .delivery-method-options,
  .payment-method-option {
    width: 100%;
    margin-top: 20px;

    label {
      padding: 0 10px;
      margin: 10px 0;
      font-size: 14px;
    }

    img {
      width: 40px;
      height: 30px;
    }
  }

  .basket-bar {
    width: 100dvw;
    padding: 20px;

    .progression-bar {
      gap: 40px;
      font-size: 12px;

      .progression-bar-circle {
        width: 26px;
        height: 26px;
        font-size: 12px;
      }

      .filled-bar {
        font-size: 15px;
      }
    }

    #homepage-link button {
      font-size: 12px;
      width: 100px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 450px) {
      .basket-content {
      flex-direction: column;
    }
  
  .basket-products {
    width: 100vw;

    img {
      max-width: 80px;
      max-height: 70px;
    }

    #summary-button {
      margin-bottom: 50px;
      width: 130px;
      height: 50px;
      font-size: 13px;
    }

    strong {
      margin-top: 100px;
      margin-bottom: 15px;
      padding: 0 20px;
      font-size: 1rem;
    }

    li {
      gap: 5px;
      margin: 10px 0;

      button {
        width: 25px;
        height: 25px;
        font-size: 12px;
      }
    }
  }

  .basket-form {
    width: 100vw;
  }

  .order-form {
    margin-bottom: 50px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;

    .form-data-input {
      width: 90%;
    }

    input {
      height: 35px;
      padding: 5px 10px;
      margin: 5px 0;
      font-size: 12px;
    }

    p {
      font-size: 0.8rem;
      color: red;
    }
  }

  .order-address-code {
    width: 90%;
    gap: 10px;

    #addressCode {
      width: 30%;
    }

    #asoAddress {
      width: 70%;
    }
  }
  .delivery-method-options,
  .payment-method-option {
    width: 100%;
    margin-top: 20px;

    label {
      padding: 0 10px;
      margin: 10px 0;
      font-size: 14px;
    }

    img {
      width: 40px;
      height: 30px;
    }
  }

  .basket-bar {
    width: 100dvw;
    padding: 15px;

    .progression-bar {
      gap: 20px;
      font-size: 12px;

      .progression-bar-circle {
        width: 26px;
        height: 26px;
        font-size: 12px;
      }

      .filled-bar {
        font-size: 15px;
      }
    }

    #homepage-link button {
      font-size: 10px;
      width: 80px;
      height: 30px;
    }
  }
}
