.header-content {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100dvw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 3px 11px -5px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);

  > a {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    color: green;
    font-family: "Handlee", cursive;
    font-weight: 800;
    font-size: 3rem;
  }
}

.header-search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0 0.5rem;
  height: 40%;
  border: 2px solid hsl(32, 10%, 26%);
  background-color: white;
  font-size: 25px;
  border-radius: 10px;

  input {
    font-size: 1.2rem;
    margin-left: 10px;
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
  }
}

.header-navigation {
  ul {
    display: flex;
    gap: 35px;
    list-style: none;
  }

  li {
    padding: 0.5rem;
    border-radius: 10px;

    i {
      font-size: 2em;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      gap: 2px;
      text-decoration: none;
      color: black;
    }
  }

  li:hover {
    background-color: rgb(184, 181, 181);
  }
}

.basket-link {
  position: relative;

  strong {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10%;
    left: -10%;
    border-radius: 60%;
    background-color: green;
    color: white;
  }
}



@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .header-content > a {
    font-size: 2rem;
  }

  .header-search-bar input {
    font-size: 14px;
  }

  .header-navigation li {
    font-size: 12px;
  }

  .header-navigation li i {
    font-size: 25px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .header-content > a {
    font-size: 1.4rem;
  }

  .header-search-bar {

    height: 30px;

     input {
      font-size: 12px;
    }

    i {
      font-size: 12px;
    }
  }

  .header-navigation li {
    font-size: 10px;
  }

  .header-navigation li i {
    font-size: 18px;
  }

  .basket-link strong {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .header-content > a {
    font-size: 1.4rem;
  }

  .header-search-bar {

    height: 30px;

     input {
      font-size: 12px;
    }

    i {
      font-size: 12px;
    }
  }

  .header-navigation li {
    font-size: 10px;
  }

  .header-navigation li i {
    font-size: 18px;
  }
  .basket-link strong {
    width: 20px;
    height: 20px;
  }
}