.header-content {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgb(225, 228, 231);
    height:10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 3px 11px -5px rgba(0,0,0,0.75);
    

     > a {
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        color: green;
        font-family: 'Handlee', cursive;
        font-weight: 800;
        font-size: 3rem;
    }
}

.header-search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 0 0.5rem;
    height: 40%;
    border: 2px solid hsl(32, 10%, 26%);
    background-color: white;
    font-size: 25px;
    border-radius: 10px;

    input {
        width: 70%;
        font-size: 1.2rem;
        height: 90%;
        border: none;
        outline: none;
    }

    button {
        background-color: green;
        padding: 0 1rem;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        border: none;
        height: 70%;
        overflow: hidden;

        &:hover{
            background-color: rgb(0, 255, 0);
        }
    }
}

.header-navigation {

    ul {
        display: flex;
        gap: 35px;
        list-style: none;
    }

    li {
        padding: 0.5rem;
        border-radius: 10px;

        i {
            font-size: 2em;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            gap: 2px;
            text-decoration: none;
            color: black
        }
    }

    li:hover{
        background-color: rgb(184, 181, 181);
    }
}

.basket-link{
    position: relative;

    strong {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -10%;
        left: -10%;
        border-radius: 60%;
        background-color: red;
        color: white
    }
}