html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; 
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Nunito Sans", sans-serif;
}


a {
  background-color: transparent;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}


button {
  cursor: pointer;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}