.page-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.products-filtering {
    padding: 20px 0;
    width: 300px;
    box-shadow: #0000003d 0px 3px 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.4);
    margin-right: 10px;

    p {
        font-size: 1.2rem;
        font-weight: 800;
    }
}

.products {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    list-style: none;
}

.page-buttons-container {
    align-self: flex-end;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.page-button {
    align-self: flex-end;
}

.kind-filtering {
    display: flex;
    gap: 20px;
}