.page-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.products-filtering {
    padding: 20px 0;

    p {
        font-size: 1.2rem;
        font-weight: 800;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

li {
    list-style: none;
}

img {
    max-width: 100px;
    height: 100%;
}

.page-buttons-container {
    align-self: flex-end;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.page-button {
    align-self: flex-end;
}

.kind-filtering {
    display: flex;
    gap: 20px;
}