.product-card{
    display: flex;
    gap: 10px;
    width: 400px;
    border: 1px solid black;

    span {
        font-size: 1.4rem;
        font-weight: 600;
    }

    p {
        font-size: 0.9rem;
    }
}

.product-card-img{
    display: flex;
}